
<div class="row">
  <div class="col md 12">
    </br></br>
  </div>
</div>

<div class="row">

    <div class="col md 4">

          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header"><a asp-area="" asp-controller="Administradores" asp-action="Index">Administradores</a></div>
            <div class="card-body text-primary">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>      
            </div>
          </div>
       

       <div class="col md 4">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header"><a asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a></div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>

      <div class="col md 4">
          <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header"><a asp-area="" asp-controller="Cidades" asp-action="Index">Cidades</a></div>
            <div class="card-body text-success">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>    

  </div>

  <div class="row">

    <div class="col md 4">

          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header"><a asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a></div>
            <div class="card-body text-primary">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>      
            </div>
          </div>
       

       <div class="col md 4">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header"><a asp-area="" asp-controller="Formapagamentos" asp-action="Index">Formas de Pagamento</a></div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>

      <div class="col md 4">
          <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header"><a asp-area="" asp-controller="Itenspedidos" asp-action="Index">Itens Pedidos</a></div>
            <div class="card-body text-success">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>    

  </div>

  <div class="row">

    <div class="col md 4">

          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header"><a asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a></div>
            <div class="card-body text-primary">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>      
            </div>
          </div>
       

       <div class="col md 4">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header"><a asp-area="" asp-controller="Produtos" asp-action="Index">Produtos</a></div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>

      <div class="col md 4">
         
      </div>

      
  </div>

</div>